:root {
    --background-color-light: #0c0c0c;
    --text-color-light: #ffffff;
    --button-bg-color-light: #181818;
    --button-text-color-light: #fff;
    --feature-bg-color-light: #181818;
    --feature-text-color-light: #ffffff;
}

body {
    background: var(--background-color-light);
    color: var(--text-color-light);
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    background:
        linear-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 1px) 0 0 / 20px 20px,
        linear-gradient(90deg, rgba(255, 255, 255, 0.1) 1px, transparent 1px) 0 0 / 20px 20px;
    z-index: 1;
    opacity: 0.5;
    box-shadow:
        0 0 20px rgba(255, 255, 255, 0.8),
        0 0 40px rgba(255, 255, 255, 0.6);
}

.grid::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    filter: blur(10px);
    opacity: 0.6;
    z-index: -1;
}

.navbar {
    background-color: var(--button-bg-color-light);
    position: fixed;
    top: 20px;
    width: 700px;
    max-width: 90%;
    border-radius: 50px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 20px;
    opacity: 1;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.navbar-brand img {
    height: 50px;
    width: auto;
    margin-right: 10px;
    margin-top: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.navbar-brand img:hover {
    transform: scale(1.1);
}

.navbar-links a {
    color: var(--text-color-light);
    padding: 12px 24px;
    border-radius: 50px;
    text-decoration: none;
    font-size: 1.15rem;
    transition: transform 0.3s ease;
}

.navbar-links a:hover {
    transform: scale(1.1);
}

.navbar-links a#registerLink {
    background-color: var(--button-bg-color-light);
    color: var(--button-text-color-light);
}

.navbar-links a#registerLink:hover {
    transform: scale(1.05);
}

.feature-header {
    text-align: center;
    margin-bottom: 1rem;
    opacity: 1;
}

.feature-header h1 {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 0.25rem;
    background: linear-gradient(to bottom, #ffffff, #dddddd);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.feature-header p {
    margin-top: 0.35rem;
    font-size: 1.45rem;
}

.features-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-grow: 1;
    padding: 2rem;
}

.features {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
    flex-wrap: wrap;
}

.feature {
    background-color: var(--feature-bg-color-light);
    color: var(--feature-text-color-light);
    padding: 1.5rem;
    border-radius: 0.5rem;
    width: 250px;
    text-align: center;
    display: flex;
    margin-top: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(0);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.feature:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.feature-icon {
    font-size: 3rem;
    margin-bottom: 0;
    transition: transform 0.3s ease;
}

.feature:hover .feature-icon {
    transform: scale(1.2);
}

.feature h2 {
    font-size: 1.20rem;
    margin-bottom: -0.5rem;
}

.feature p {
    font-size: 1.05rem;
}

.register-button {
    background-color: var(--button-bg-color-light);
    color: var(--button-text-color-light);
    padding: 0.75rem 1.5rem;
    border-radius: 50px;
    font-size: 1.25rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-top: 2rem;
    text-decoration: none;
}

.register-button:hover {
    background-color: rgb(240, 240, 240);
    transform: scale(1.05);
}
