<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Decks</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <script>
      tailwind.config = {
          theme: {
  extend: {
    colors:{
      'primary': '#423bc8',
      'hover-primary': '#312bab',
      'secondary': '#c5c2f6',
      'accent': '#ffbc86',
      'hover-accent': '#eda266',
      'background': '#26253b',
      'darker-background': '#1b1a2e',
      'text': '#e2e8f0'
    }
  },
},
plugins: [],

}

  </script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <style>
    * {
      font-family: 'Poppins', sans-serif;
    }
  </style>
</head>
<body class="bg-background h-screen">
  <nav class="bg-background">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
      <div class="relative flex h-16 items-center justify-between">
        <div class="absolute inset-y-0 left-0 flex items-center">
         <!-- Logo Only test for now -->
         <img src="./images/connect_logo_2.png" class="h-10 w-auto mr-4" onclick="toggleMenu();">
         <!--Dropdown for phones-->
         <div id="menu" class="hidden sm:hidden absolute bg-background mt-48">
           <a id="signouta" href="chats.html" class="text-text rounded-lg px-4 py-2 mx-2 hidden">Chats</a>
           <a id="signouta" href="decks.html" class="text-text rounded-lg px-4 py-2 mx-2 hidden">Decks</a>
           <a id="signin" href="registration.html" class="block bg-accent text-black rounded-lg px-4 py-2 mx-2 mb-2 hover:bg-hover-accent">Register</a>
           <a id="signin" href="login.html" class="block bg-accent text-black rounded-lg px-4 py-2 mx-2 mb-2 hover:bg-hover-accent">Sign In</a>
           <a id="signout" class="justify-end bg-accent text-black rounded-lg px-4 py-2 hover:bg-hover-accent hidden" onclick="signOut();">Sign Out</a>
         </div>
          <!--Nav for large screens-->
         <div class="hidden sm:flex">
          <!-- Rounded buttons -->
          <a id="signout" href="chats.html" class=" text-text rounded-lg px-4 py-2 mx-2 hidden">Chats</a>
          <a id="signout" href="decks.html" class = "text-text rounded-lg px-4 py-2 mx-2 hidden">My decks</a>
          <!-- Spacer -->
          <div class="flex-grow"></div>
          <!-- Sign in button and registration -->
          <a id="signin" href="registration.html" class="flex justify-end bg-accent text-black rounded-lg px-4 py-2 mr-2 hover:bg-hover-accent">Register</a>
          <a id="signin" href="login.html" class="flex justify-end bg-accent text-black rounded-lg px-4 py-2 hover:bg-hover-accent">Sign In</a>
          <a id="signout" class="justify-end bg-accent text-black rounded-lg px-4 py-2 hover:bg-hover-accent hidden" onclick="signOut();">Sign Out</a>
         </div>
        </div>
      </div>
    </div>
  </nav>
  <div class="min-h-scree flex justify-center items-center">
    <!-- Card with Navbar and Text Input -->
    <div class=" w-1/3 h-auto mx-auto my-10 bg-white shadow-lg rounded-lg">
        <!-- Navbar inside card -->
        <nav class="bg-white text-black p-4 rounded-t-lg">
            <div class="flex justify-between">
                <button onclick="prevCard()" id="prevCard" class="bg-secondary hover:bg-[#a78bfa] p-2 rounded">
                  <img class="h-3 w-3 md:h-6 md:w-6 " src="./images/arrow_left.png" alt="arrow">
                </button>
                <button onclick="nextCard()" id="nextCard" class="bg-secondary hover:bg-[#a78bfa] p-2 rounded">
                  <img class="h-3 w-3 md:h-6 md:w-6 " src="./images/arrow_right.png" alt="arrow">
                </button>

                <!-- Dropdown Menu Placeholder -->
                <div class="relative">
                    <button id="dropdownMenuButton" class="bg-secondary hover:bg-[#a78bfa] p-2 rounded">
                      <img class="h-3 w-3 md:h-6 md:w-6 " src="./images/card.png" alt="menu">
                    </button>
                    <!-- Dropdown items (hidden by default, show on button click) -->
                    <div id="dropdownMenu" class="hidden absolute bg-secondary mt-2 py-2 rounded">
                    </div>
                </div>

                <button id="toggleInput" class="bg-secondary focus:bg-[#a78bfa] p-2 rounded">
                  <img class="h-3 w-3 md:h-6 md:w-6 " src="./images/pencil.png" alt="edit">
                </button>
            </div>
        </nav>
        
        <!-- Text Input (front side) -->
        <div id="card" class="p-6">
            <input type="text" placeholder="Your input..." class="input text-gray-800 w-full rounded border-gray-300 p-2"/>
        </div>

        <!-- Card Backside (hidden by default, show when card is flipped) -->
        <div id="cardBackside" class="hidden p-6">
            <input type="text" placeholder="Backside input..." class="input text-gray-800 w-full rounded border-gray-300 p-2"/>
        </div>
    </div>
</div>

<script>
  function signOut() {
    localStorage.clear();
    location.reload();
  }

  if (localStorage.getItem('token')) {
    var signinButtons = document.querySelectorAll('#signin');
    signinButtons.forEach(function(button) {
      button.remove();
    });
    var signoutButtons = document.querySelectorAll('#signout');
    signoutButtons.forEach(function(button) {
      button.classList.remove('hidden');
      button.classList.add('flex');
    });
    var signoutaButtons = document.querySelectorAll('#signouta');
    signoutButtons.forEach(function(button) {
      button.classList.remove('hidden');
      button.classList.add('block');
    });
  }
    let currentCard = 0, currentDeck = "";
    let cardData;
    fetch("http://127.0.0.1:5000/get_decks", {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify({"myid": localStorage.getItem("myid"), "token": localStorage.getItem("token")})
    })
    .then(response => response.json())
    .then(data => {
        cardData = data;
        const dropdownMenu = document.getElementById('dropdownMenu');
        currentDeck = cardData[Object.keys(cardData)[0]];
        Object.keys(cardData).forEach(message => {
        var buttonTemplate = `
          <a onclick="selectDeck(this)" class="block px-4 py-2 hover:bg-[#a78bfa]">${message}</a>
        `;
        dropdownMenu.innerHTML += buttonTemplate;
        });
        console.log("Flashcards success:", data);
    })
    .catch(error => {
        console.error("Flashcards fail:", error);
    });
    function displayCard() {
        const card = document.getElementById('card');
        const cardBackside = document.getElementById('cardBackside');
        console.log(currentDeck, currentCard);
        let cards = cardData[currentDeck];
        card.childNodes[1].value = cards[currentCard].front;
        cardBackside.childNodes[1].value = cards[currentCard].back;
    }
    function selectDeck(deck) {
        currentCard = 0;
        currentDeck = deck.innerText;
        displayCard();
    }
    function nextCard() {
        currentCard++;
        if(currentCard > cardData[currentDeck].length - 1){
          currentCard = 0;
        }
        displayCard();
    }
    function prevCard() {
        currentCard--;
        if(currentCard < 0){
          currentCard = cardData[currentDeck].length - 1;
        }
        displayCard();
    }
    document.addEventListener('DOMContentLoaded', function () {
        const dropdownMenuButton = document.getElementById('dropdownMenuButton');
        const dropdownMenu = document.getElementById('dropdownMenu');
        const toggleInputButton = document.getElementById('toggleInput');
        const card = document.getElementById('card');
        const cardBackside = document.getElementById('cardBackside');
        let inputEnabled = false;

        dropdownMenuButton.addEventListener('click', function () {
            dropdownMenu.classList.toggle('hidden');
        });
        

        toggleInputButton.addEventListener('click', function () {
            if(inputEnabled){
              cardData[currentDeck][currentCard].front = card.childNodes[1].value;
              cardData[currentDeck][currentCard].back = cardBackside.childNodes[1].value;
              fetch("http://127.0.0.1:5000/set_decks", {
                  method: "POST",
                  headers: {
                      "Content-Type": "application/json"
                  },
                  body: JSON.stringify({"myid": localStorage.getItem("myid"), "token": localStorage.getItem("token"), "decks": cardData})
              })
              .then(response => response.json())
              .then(data => {
                  console.log("Flashcards saved:", data);
              })
              .catch(error => {
                  console.error("Flashcards didnt save:", error);
              });
            }
            inputEnabled = !inputEnabled;
            //card.classList.toggle('hidden');
            //cardBackside.classList.toggle('hidden');
        });

        card.addEventListener('click', function () {
            if (!inputEnabled) {
                // Implement card flip logic here.
                // This is a placeholder for the action, e.g., toggling visibility of front/back.
                card.classList.add('hidden');
                cardBackside.classList.remove('hidden');
            }
        });

        cardBackside.addEventListener('click', function () {
            if (!inputEnabled) {
                // Implement card flip back logic here.
                cardBackside.classList.add('hidden');
                card.classList.remove('hidden');
            }
        });
    });
</script>
</body>

</html>