<!DOCTYPE html>
<html lang="en" class="h-full">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pulse</title>
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-brand">
            <img src="../static/logopulse.png" alt="PulseChat Logo" onclick="toggleMenu();" />
        </div>
        <div class="navbar-links">
            <a id="loginLink" href="/login">Login</a>
            <a id="registerLink" href="/register">Register</a>
        </div>        
    </nav>

    <div class="features-container">
        <div class="feature-header">
            <h1>Pulse</h1>
            <p>The awesome sauce Discord replacement.</p>
        </div>
        <div class="features">
            <div class="feature">
                <i class="feature-icon fas fa-comments"></i>
                <h2>Instant Messaging</h2>
                <p>Stay connected with friends and colleagues via instant messaging.</p>
            </div>
            <div class="feature">
                <i class="feature-icon fas fa-code"></i>
                <h2>Open Source</h2>
                <p>Pulse is open-source meaning you can look through our code and fix it.</p>
            </div>
            <div class="feature">
                <i class="feature-icon fas fa-cogs"></i>
                <h2>Customizable</h2>
                <p>Pulse is customizable which means you can make it the way you want.</p>
            </div>
        </div>
        <div>
            <a href="registration.html" class="register-button">Start Chatting</a>
        </div>
    </div>

    <script>

        document.addEventListener('DOMContentLoaded', function() {
            document.body.classList.add('loaded');
        });

        function toggleMenu() {
            document.getElementById('menu').classList.toggle('hidden');
        }

        function signOut() {
            localStorage.clear();
            location.reload();
        }

        if (localStorage.getItem('token')) {
            document.getElementById('registerLinkMobile').classList.add('hidden');
            document.getElementById('loginLinkMobile').classList.add('hidden');
            document.getElementById('signOutButtonMobile').classList.remove('hidden');
            document.getElementById('homeLinkMobile').classList.remove('hidden');
        }
    </script>
</body>
</html>
